<!-- <mat-drawer-container class="example-container" autosize>
  <div class="">
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>

    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  </div>
</mat-drawer-container> -->

<div class="w-full bg-red-800 py-4 px-8">
  <div class="w-full flex justify-between items-center">
    <div></div>

    <div class="">
      <h2 class="text-white">Sistema de gestão de notas</h2>
    </div>

    <nav class="flex">
      <a
        routerLink="/home"
        class="text-white mr-4 cursor-pointer"
        routerLinkActive="active"
        >Home</a
      >
      <a
        routerLink="/students"
        class="text-white mr-4 cursor-pointer"
        routerLinkActive="active"
        >Alunos</a
      >
      <a
        routerLink="/create"
        class="text-white mr-4 cursor-pointer"
        routerLinkActive="active"
        >Cadastrar</a
      >
    </nav>
  </div>
</div>
